* {
	padding:0;
	margin:0;
}
.flex {
	display:flex;
}
.a {
	margin-left:3%;
	text-align: center;
	font-family: arial;
}
h3 {
	font-size:28px;
	margin-top:10%;
	font-weight: 100;

}
p {
	margin-top:5%;
}
.pic {
	width:300px;
}